* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Ma Shan Zheng', cursive;
    font-family: 'Muli', sans-serif;
}

header {
    width: 100%;
    height: 100vh;
}

h1, p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
h1 {
    font-family: 'Muli', sans-serif;
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom: 30px;
    color: rgba(202, 247, 255, 0.3);

}
p {
    font-family: 'Ma Shan Zheng', cursive;
    font-weight: 200;
    font-size: 60px;
    letter-spacing: 3px;
    padding-top: 30px;
    display: block;
    top: 55%;
    color: rgba(45, 196, 255, 0.329);
}

/* Media */

@media only screen and (max-width: 695px) {
    h1 {
        font-size: 50px;
    }
    p {
        font-size: 40px;
    }

    @media (max-width: 522px) {
    h1 {
        font-size: 40px;
        font-weight: 900;
        margin: 0;
        padding: 0;
    }
    p {
        font-size: 35px;
    }
    }
    @media (max-width: 430px) {
        h1 {
            font-size: 30px;
            margin: 0;
            padding: 0;
            lh0
        }
        p {
            font-size: 25px;
            margin: 0;
            padding: 0;
        }
    }
    
    @media (max-width: 340px) {
        h1 {
            font-size: 25px;
            padding-bottom: 10px;
        }
        p {
            font-size: 25px;
        }
    }
}